* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  space-between;
}

body.dark {
  background-color: #0a0a0a;
  color: #fff;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

main {
  width: 100%;
  text-align: center;
}

h1{
  margin-bottom: 0.5rem;
}

button#copy-quote, 
button#new-quote-button{ 
  border: none;
  background-color: transparent;
  color: #18181b;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

button#copy-quote:hover,
button#new-quote-button:hover{
  background-color: #f5f5f5;
}

body.dark button#copy-quote,
body.dark button#new-quote-button{
  color: #fff;
}

body.dark button#copy-quote:hover,
body.dark button#new-quote-button:hover{
  background-color: #262626;
}

button#switch-theme-button {
  margin-top: 10px;
  border: none;
  background-color: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  width: 50px;
  height: 50px;
}

button#switch-theme-button:hover {
  opacity: 90%;
}

div#quote-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 80px;
  min-width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
}

body.dark div#quote-container{
  background-color: #303030;
}

div#quote-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  right: 10px;
  top: 50;
}



div#quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark div#quote{
  color: #fff;
  box-shadow: none;
}

section.div-content {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-3{
  margin-bottom: 2rem;
}